<!DOCTYPE html>
<html lang="ko">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

		<script src="https://pagecdn.io/lib/ace/1.4.12/ace.min.js" crossorigin="anonymous" integrity="sha256-T5QdmsCQO5z8tBAXMrCZ4f3RX8wVdiA0Fu17FGnU1vU=" ></script>
		<script src="https://pagecdn.io/lib/ace/1.4.12/theme-monokai.min.js" crossorigin="anonymous"  ></script>
		<script src="https://pagecdn.io/lib/ace/1.4.12/mode-python.min.js" crossorigin="anonymous"  ></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/mode-java.min.js" integrity="sha512-cBlD1MiRruu3tqWXrtxq3TrDDGF5NWpUQftHE6kS412z04C/nfl6DPMAJi2UJ70+X3eaCjiUdw7m1SaWPytZ2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/mode-c_cpp.min.js" integrity="sha512-0OZmNbvdTUAXjS/gE+K7ytccKZGonVz82m6zzAZ5kbByRTC0WlO2BL3BjSvpzn4mCnpr3gFSRmqUVPrzJLVEwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <title>Cat Coding</title>
    </head>

    <script>
        $(() => {
            const vscode = acquireVsCodeApi()
            let categoryList = null
            let currentPid = 0

            vscode.postMessage({
				command: 'getCategory',
			})

            window.addEventListener('message', function(event){
                const message = event.data

                switch (message.command) {
                    case 'categoryList':
                        categoryList = message.data
                        categoryList.forEach((item) => {
                            $(".jListGroup").append(`
                                <li class="list-group-item jCollapse" data-bs-toggle="collapse" href="#content${item.id}" no="${item.id}">
                                        <h5>${item.id}. ${item.desc}</h5>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16" style="float: right">
                                           <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                        </svg>
                                </li>
                                <div class="collapse jPListGroup" id="content${item.id}"></div>
                            `)
                        })
                        break
                    case 'problemList':
                        problemList = message.data
                        problemList.forEach((item) => {
                            $(`#content${item.categoryId}`).append(`
                                <div class="card">
                                    <div class="card-body background border">
                                        <span>${item.title}</span>
                                        <hr/>
                                        <span>${item.content}</span>
                                        <span class="badge bg-warning">${item.successRate}</span>
                                        <hr/>
                                        <h6>Input Value</h6>
                                        <p>${item.inputValue}</p>

                                        <div class="mt-2" style="flex-direction: row">
                                            <div class="input-group mb-3 w-25">
                                                <select class="form-select form-control" id="jLang${item.id}">
                                                    <option value="error" selected>Language</option>
                                                    <option value="java">Java</option>
                                                    <option value="python">Python</option>
                                                    <option value="c_cpp">C/C++</option>
                                                </select>
                                                <button class="btn btn-danger jShow" no="${item.id}" title="${item.title}" lType="">풀기</button>    
                                            </div>
                                            
                                            <div style="float: right;"><b>${item.regDate}</b></div>
                                        </div>
                                    </div>
                                </div>
                            `)
                        })
                        break
                    default:
                        break
                }
            })

            var editor = ace.edit("editor")
            editor.setFontSize(13)
            editor.setTheme("ace/theme/monokai")


            $("#editor").css('width', window.innerWidth)
			

			$(".jSubmit").on("click", function(){
				const code = editor.getValue()
				console.log(code)
                vscode.postMessage({
					command: 'judge',
					code: code,
                    type: $(".jInfo").attr("lType"),
                    problemId: currentPid
				})
			})

            $(document).on("click", ".jShow", function(){
                currentPid = $(this).attr("no")
                const title = $(this).attr("title")
                const language = $(`#jLang${currentPid} option:selected`)

                if(language.val() == 'error'){
                    vscode.postMessage({
                        command: 'error',
                        text: 'Please select programming language :('
				    })
                    return
                }

                editor.session.setMode(`ace/mode/${language.val()}`)
                
                $(".jInfo").attr("lType", language.val())
                $(".jInfo").html(`${title} | Language: ${language.text()}`)
                $(".jCodeArea").fadeIn()
            })

            $(".jCancel").on("click", function(){
                $(".jCodeArea").fadeOut()
            })

            $(document).on("click", ".jCollapse", function(event){
                event.preventDefault()
                const id = $(this).attr("no")

                console.log(JSON.stringify($(`#content${id}`).html()))
                if($(this).hasClass("collapsed")) $(".jCodeArea").fadeOut()
                else{
                    if($(`#content${id}`).html() == ""){
                        console.log(id)
                        vscode.postMessage({
                            command: 'getProblem',
                            id: id
                        })
                    }
                }
            })			
        })
        
    </script>

	<style type="text/css" media="screen">
        @font-face {
            font-family: 'GongGothicMedium';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        body {background-color: #282C34; color: #FFFFFF; font-family: 'GongGothicMedium'}
        .jCodeArea {position: fixed; bottom: 0; margin: 5% auto; left: 0; right: 0;}
    	#editor { position: relative; height: 400px; border-radius: 25px;}
        .background {background-color: #282C34; color: #FFFFFF;}
        .border {border: 1px solid #737373;}
	</style>
    
    <body>
        <div class="container background">
            <ul class="list-group jListGroup"></ul>

            <div class="row jCodeArea mb-2" style="display: none; justify-content: center; z-index: 999;">
                <span class="badge bg-danger w-50 jInfo"></span>
                <div class="w-75" id="editor"></div>
                <div class="btn-group w-50">
                    <button class="btn btn-danger mt-2 jSubmit">Submit</button>
                    <button class="btn btn-light mt-2 jCancel">Cancel</button>
                </div>
            </div>
    </body>
</html>				