<!DOCTYPE html>
<html lang="ko">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

		
		<script src="https://pagecdn.io/lib/ace/1.4.12/ace.min.js" crossorigin="anonymous" integrity="sha256-T5QdmsCQO5z8tBAXMrCZ4f3RX8wVdiA0Fu17FGnU1vU=" ></script>
		<script src="https://pagecdn.io/lib/ace/1.4.12/theme-monokai.min.js" crossorigin="anonymous"  ></script>
		<script src="https://pagecdn.io/lib/ace/1.4.12/mode-python.min.js" crossorigin="anonymous"  ></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/mode-java.min.js" integrity="sha512-cBlD1MiRruu3tqWXrtxq3TrDDGF5NWpUQftHE6kS412z04C/nfl6DPMAJi2UJ70+X3eaCjiUdw7m1SaWPytZ2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/mode-c_cpp.min.js" integrity="sha512-0OZmNbvdTUAXjS/gE+K7ytccKZGonVz82m6zzAZ5kbByRTC0WlO2BL3BjSvpzn4mCnpr3gFSRmqUVPrzJLVEwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <title>Cat Coding</title>
    </head>

    <script>
        $(() => {
            const vscode = acquireVsCodeApi()
            let categoryList = null
            let currentPid = 0

            vscode.postMessage({
				command: 'getCategory',
			})

            window.addEventListener('message', function(event){
                const message = event.data

                switch (message.command) {
                    case 'categoryList':
                        categoryList = message.data
                        categoryList.forEach((item) => {
                            $(".jListGroup").append(`
                                <li class="list-group-item jCollapse" data-bs-toggle="collapse" href="#content${item.id}" no="${item.id}">
                                        <h5>${item.id}. ${item.desc}</h5>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16" style="float: right">
                                           <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                        </svg>
                                </li>
                                <div class="collapse jPListGroup" id="content${item.id}"></div>
                            `)
                        })
                        break
                    case 'problemList':
                        problemList = message.data
                        problemList.forEach((item) => {
                            $(`#content${item.categoryId}`).append(`
                                <div class="card">
                                    <div class="card-body background border">
                                        <span>
                                            ${item.title}
                                        </span>
                                        <hr/>
                                        <span>
                                            ${item.content}
                                        </span>
                                        <span class="badge bg-warning">${item.successRate}</span>
                                        <hr/>
                                        <h6>Input Value</h6>
                                        <p>
                                            ${item.inputValue}
                                        </p>

                                        <div class="mt-2" style="flex-direction: row">
                                            <div class="input-group mb-3 w-25">
                                                <select class="form-select form-control" id="jLang${item.id}">
                                                    <option value="error" selected>Language</option>
                                                    <option value="java">Java</option>
                                                    <option value="python">Python</option>
                                                    <option value="c_cpp">C/C++</option>
                                                </select>
                                                <button class="btn btn-danger jShow" no="${item.id}" title="${item.title}" lType="">풀기</button>    
                                            </div>
                                            
                                            
                                            <div style="float: right;">
                                                <b>
                                                    ${item.regDate}
                                                </b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            `)
                        })
                        break
                    default:
                        break
                }
            })

            var editor = ace.edit("editor")
            editor.setFontSize(13)
            editor.setTheme("ace/theme/monokai")


            $("#editor").css('width', window.innerWidth)
			

			$(".jSubmit").on("click", function(){
				const code = editor.getValue()
				console.log(code)
                vscode.postMessage({
					command: 'judge',
					code: code,
                    type: $(".jInfo").attr("lType")
				})
			})

            $(document).on("click", ".jShow", function(){
                currentPid = $(this).attr("no")
                const title = $(this).attr("title")
                const language = $(`#jLang${currentPid} option:selected`)

                if(language.val() == 'error'){
                    vscode.postMessage({
                        command: 'error',
                        text: 'Please select programming language :('
				    })
                    return
                }

                editor.session.setMode(`ace/mode/${language.val()}`)
                
                $(".jInfo").attr("lType", language.val())
                $(".jInfo").html(`${title} | Language: ${language.text()}`)
                $(".jCodeArea").fadeIn()
            })

            $(".jCancel").on("click", function(){
                $(".jCodeArea").fadeOut()
            })

            $(document).on("click", ".jCollapse", function(event){
                event.preventDefault()
                const id = $(this).attr("no")

                console.log(JSON.stringify($(`#content${id}`).html()))
                if($(this).hasClass("collapsed")) $(".jCodeArea").fadeOut()
                else{
                    if($(`#content${id}`).html() == ""){
                        console.log(id)
                        vscode.postMessage({
                            command: 'getProblem',
                            id: id
                        })
                    }
                }
            })			
        })
        
    </script>
	<style type="text/css" media="screen">
        body {
            background-color: #282C34;
            color: #FFFFFF;
        }

        .jCodeArea {
            position: fixed;
            bottom: 0;
            /* width: 1000px; */
            margin: 5% auto;
            left: 0;
            right: 0;
            /* margin-left: -250px; */
        }

    	#editor { 
			position: relative;
            width: 100%;
    		height: 400px;
            border-radius: 25px;
		}

        .background {
            background-color: #282C34;
            color: #FFFFFF;
        }

        .border {
            border: 1px solid #737373;
        }
	</style>
    
    <body>
        <div class="jTemplate" style="display: none;">
            
        </div>

        <div class="container background">
            <ul class="list-group jListGroup">

                <!-- <li class="list-group-item background border jCollapse" data-bs-toggle="collapse" href="#content1">
                    <h5>쉬워 보이지만 한 번에 맞히기 어려운 문제</h5>
                </li>
                <div class="collapse" id="content1">
                    <div class="card">
                        <div class="card-body background border">
                            <span>
                                직각삼각형에서 피타고라스 정리는 매우 유명한 이론이다.
                            즉, 직각삼각형의 변 A, B, C(=빗변)가 있을때 다음 식이 성립한다.
                            A2 + B2 = C2
                            우리는 빗변을 제외한 한 변의 길이를 알때 직각 삼각형이 되는 삼각형의 개수를 구하려고한다.
                            예를 들어, A=3인 삼각형은 32 + 42 = 52 으로 식이 성립하는 삼각형의 경우는 단 1개 이다.
                            또, A=12이면, 122 + 162 = 202 , 122 + 352 = 372 으로 식이 성립하는 삼각형의 경우는 2개이다.
                            삼각형의 한 변 정수 A가 주어질때, 빗변 C가 정수가 되는 B > A인 직각 삼각형의 개수를 구하시오.(A,B,C 모두 정수임)
                            </span>
                            <span class="badge bg-warning">20.9%</span>

                            <p>
                                1.414213
                            </p>

                            
                            <div class="mt-2">
                                <button class="btn btn-dark jShow" no="39">풀기</button>    
                                <div style="float: right;">
                                    <b>
                                        2021-07-09 17:35:22
                                    </b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li> -->
            </ul>
            
            <div class="row jCodeArea" style="display: none; justify-content: center; z-index: 999;">
                <span class="badge bg-danger w-50 jInfo"></span>
                <div id="editor"></div>
                <div class="btn-group w-25">
                    <button class="btn btn-danger mt-2 jSubmit">Submit</button>
                    <button class="btn btn-secondary mt-2 jCancel">Cancel</button>
                </div>
            </div>
        </body>
        </div>
</html>				